In [2]:
import pandas as pd

In [3]:
url = 'vehicles.csv'
df = pd.read_csv(url)
city_mpg = pd.Series(df.city08)
print(f"{city_mpg}")
highway_mpg = df.highway08

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: int64

/tmp/ipykernel_4094/1734387650.py:2: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

In [3]:
print(f"{city_mpg.mean()}\n{city_mpg.std()}\n{city_mpg.median()}\n{city_mpg.sum()}\n{city_mpg.count()}")
# city_mpg.str

18.369045304297103
7.9058861707373005
17.0
755776
41144

In [9]:
s = pd.Series(['aA', 'bB', '1'])

# Attributes of the .str accessor
dir(s.str)[::-1]
# print(f"{s.str.upper()}")

['zfill',
 'wrap',
 'upper',
 'translate',
 'title',
 'swapcase',
 'strip',
 'startswith',
 'split',
 'slice_replace',
 'slice',
 'rstrip',
 'rsplit',
 'rpartition',
 'rjust',
 'rindex',
 'rfind',
 'replace',
 'repeat',
 'removesuffix',
 'removeprefix',
 'partition',
 'pad',
 'normalize',
 'match',
 'lstrip',
 'lower',
 'ljust',
 'len',
 'join',
 'isupper',
 'istitle',
 'isspace',
 'isnumeric',
 'islower',
 'isdigit',
 'isdecimal',
 'isalpha',
 'isalnum',
 'index',
 'get_dummies',
 'get',
 'fullmatch',
 'findall',
 'find',
 'extractall',
 'extract',
 'endswith',
 'encode',
 'decode',
 'count',
 'contains',
 'center',
 'cat',
 'casefold',
 'capitalize',
 '_wrap_result',
 '_validate',
 '_parent',
 '_orig',
 '_name',
 '_is_string',
 '_is_categorical',
 '_inferred_dtype',
 '_index',
 '_get_series_list',
 '_freeze',
 '_doc_args',
 '_data',
 '__weakref__',
 '__subclasshook__',
 '__str__',
 '__sizeof__',
 '__setattr__',
 '__repr__',
 '__reduce_ex__',
 '__reduce__',
 '__new__',
 '__ne__',
 '__module__',
 '__lt__',
 '__le__',
 '__iter__',
 '__init_subclass__',
 '__init__',
 '__hash__',
 '__gt__',
 '__getstate__',
 '__getitem__',
 '__getattribute__',
 '__ge__',
 '__frozen',
 '__format__',
 '__eq__',
 '__doc__',
 '__dir__',
 '__dict__',
 '__delattr__',
 '__class__',
 '__annotations__']

In [11]:
print(f'{s.str.upper()}\n{s.str.title()}\n{s.str.isnumeric()}')

0    AA
1    BB
2     1
dtype: object
0    Aa
1    Bb
2     1
dtype: object
0    False
1    False
2     True
dtype: bool

In [25]:
# Example Series with datetime
dt_series = pd.Series(pd.date_range("2023-01-01", periods=3))

# Attributes of the .dt accessor
dt_attributes = dir(dt_series.dt)
print(len(dt_attributes))  # Number of attributes

84

In [31]:

print(f"{dt_series.dt.year}\n{dt_series.dt.day_name()}\n{dt_series.dt.date}\n{dt_series.dt.day}")

0    2023
1    2023
2    2023
dtype: int32
0     Sunday
1     Monday
2    Tuesday
dtype: object
0    2023-01-01
1    2023-01-02
2    2023-01-03
dtype: object
0    1
1    2
2    3
dtype: int32

# Index Alignment

In [33]:
s1 = pd . Series ([10 , 20 , 30] , index =[1 ,2 ,2])
s2 = pd . Series ([35 , 44 , 53] , index =[2 ,2 ,4] , name =' s2 ')
s1 + s2

1     NaN
2    55.0
2    64.0
2    65.0
2    74.0
4     NaN
dtype: float64

# Broadcasting

s1.add(s2,)

In [35]:
s1.add(s2,fill_value=-10)

1     0.0
2    55.0
2    64.0
2    65.0
2    74.0
4    43.0
dtype: float64

Sure, here is the information in a three-column tabular format:

| Method | Operator | Description |
|---|---|---|
| **Addition Operations** | | |
| `s.add(s2)` | `s + s2` | Adds series |
| `s2 + s` | | Adds series |
| **Subtraction Operations** | | |
| `s.sub(s2)` | `s - s2` | Subtracts series |
| `s2 - s` | | Subtracts series |
| **Multiplication Operations** | | |
| `s.mul(s2)` / `s.multiply(s2)` | `s * s2` | Multiplies series |
| `s2 * s` | | Multiplies series |
| **Division Operations** | | |
| `s.div(s2)` / `s.truediv(s2)` | `s / s2` | Divides series |
| `s2 / s` | | Divides series |
| `s.rdiv(s2)` / `s.rtruediv(s2)` | | Divides series (reversed) |
| **Modulo Operations** | | |
| `s.mod(s2)` | `s % s2` | Modulo of series division |
| `s2 % s` | | Modulo of series division (reversed) |
| **Floor Division Operations** | | |
| `s.floordiv(s2)` | `s // s2` | Floor divides series |
| `s2 // s` | | Floor divides series (reversed) |
| **Exponential Operations** | | |
| `s.pow(s2)` | `s ** s2` | Exponential power of series |
| `s2 ** s` | | Exponential power of series (reversed) |
| **Comparison Operations** | | |
| `s.eq(s2)` | `s2 == s` | Elementwise equals of series |
| `s.ne(s2)` | `s2 != s` | Elementwise not equals of series |
| `s.gt(s2)` | `s > s2` | Elementwise greater than of series |
| `s.ge(s2)` | `s >= s2` | Elementwise greater than or equals of series |
| `s.lt(s2)` | `s < s2` | Elementwise less than of series |
| `s.le(s2)` | `s <= s2` | Elementwise less than or equals of series |
| **Logical Operations** | | |
| `np.invert(s)` | `~s` | Elementwise inversion of boolean series (no direct pandas method) |
| `np.logical_and(s, s2)` | `s & s2` | Elementwise logical and of boolean series (no direct pandas method) |
| `np.logical_or(s, s2)` | `s | s2` | Elementwise logical or of boolean series (no direct pandas method) |

6.9 Exercises
With a dataset of your choice:
1. Add a numeric series to itself.
2. Add 10 to a numeric series.
3. Add a numeric series to itself using the .add method.
4. Read the documentation for the .add method.

In [37]:
s=pd.Series(data=[1,2,3,4,5,6],index=[6,5,4,3,2,1],dtype=int)
s+s
print(f"{s.add(s,fill_value=-1)}\n\n{s.add(10)}\n\n{s+10}\n\n{s.add.__doc__}")

6     2
5     4
4     6
3     8
2    10
1    12
dtype: int64

6    11
5    12
4    13
3    14
2    15
1    16
dtype: int64

6    11
5    12
4    13
3    14
2    15
1    16
dtype: int64


Return Addition of series and other, element-wise (binary operator `add`).

Equivalent to ``series + other``, but with support to substitute a fill_value for
missing data in either one of the inputs.

Parameters
----------
other : Series or scalar value
level : int or name
    Broadcast across a level, matching Index values on the
    passed MultiIndex level.
fill_value : None or float value, default None (NaN)
    Fill existing missing (NaN) values, and any new element needed for
    successful Series alignment, with this value before computation.
    If data in both corresponding Series locations is missing
    the result of filling (at that location) will be missing.
axis : {0 or 'index'}
    Unused. Parameter needed for compatibility with DataFrame.

Returns
-------
Series
    The result of the operation.

See Also
--------
Series.radd : Reverse of the Addition operator, see
    `Python documentation
    <https://docs.python.org/3/reference/datamodel.html#emulating-numeric-types>`_
    for more details.

Examples
--------
>>> a = pd.Series([1, 1, 1, np.nan], index=['a', 'b', 'c', 'd'])
>>> a
a    1.0
b    1.0
c    1.0
d    NaN
dtype: float64
>>> b = pd.Series([1, np.nan, 1, np.nan], index=['a', 'b', 'd', 'e'])
>>> b
a    1.0
b    NaN
d    1.0
e    NaN
dtype: float64
>>> a.add(b, fill_value=0)
a    2.0
b    1.0
c    1.0
d    1.0
e    NaN
dtype: float64

## Chapter 7
Aggregate Methods

In [38]:
print(f"sum = {city_mpg . sum ()}")
print(f"mean = {city_mpg . mean ()}")
print(f"median = {city_mpg . median ()}")
print(f"min = {city_mpg . min ()}")
print(f"max = {city_mpg . max ()}")

print(f"unique = {city_mpg . is_unique}")

print(f"monotonic_decreasing = {city_mpg . is_monotonic_decreasing}")
print(f"monotonic_increasing = {city_mpg . is_monotonic_increasing}")

print(f"quantile (.9) = {city_mpg . quantile (.9)}\nquantile ([.1 , .5 , .9] = {city_mpg . quantile ([.1 , .5 , .9])}")

sum = 755776
mean = 18.369045304297103
median = 17.0
min = 6
max = 150
unique = False
monotonic_decreasing = False
monotonic_increasing = False
quantile (.9) = 24.0
quantile ([.1 , .5 , .9] = 0.1    13.0
0.5    17.0
0.9    24.0
Name: city08, dtype: float64

# Count and Mean of an Attribute

In [12]:
print(f"city_mpg. gt (20). sum () = {( city_mpg. gt (20). sum ())}")
print(f'{city_mpg. gt (20).count()}')
print(f"city_mpg. gt (20). mul (100). mean () = { city_mpg. gt (20). mul (100). mean ()}")

city_mpg. gt (20). sum () = 10272
10272
city_mpg. gt (20). mul (100). mean () = 24.965973167412017

In [48]:
import numpy as np
def second_to_last (s ):

    return s . iloc [ -2]

city_mpg . agg ([  np . var , max , second_to_last ])

/tmp/ipykernel_3914/3584400096.py:6: FutureWarning: The provided callable <function var at 0x7f3312dbe340> is currently using Series.var. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "var" instead.
  city_mpg . agg ([  np . var , max , second_to_last ])
/tmp/ipykernel_3914/3584400096.py:6: FutureWarning: The provided callable <built-in function max> is currently using Series.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  city_mpg . agg ([  np . var , max , second_to_last ])

var                62.503036
max               150.000000
second_to_last     18.000000
Name: city08, dtype: float64

Here is the information presented in a three-column tabular format:

| Method | Description |
|---|---|
| **Boolean Methods** | |
| `'all'` | Returns True if every value is truthy. |
| `'any'` | Returns True if any value is truthy. |
| `'autocorr'` | Returns Pearson correlation of series with shifted self. Can override lag as a keyword argument (default is 1). |
| `'corr'` | Returns Pearson correlation of series with another series. Need to specify other. |
| `'count'` | Returns count of non-missing values. |
| `'cov'` | Returns covariance of series with another series. Need to specify other. |
| `'dtype'` | Type of the series. |
| `'dtypes'` | Type of the series. |
| `'empty'` | True if no values in series. |
| `'hasnans'` | True if missing values in series. |
| **Aggregate Methods** | |
| `'idxmax'` | Returns index value of maximum value. |
| `'idxmin'` | Returns index value of minimum value. |
| `'is_monotonic'` | True if values always increase. |
| `'is_monotonic_decreasing'` | True if values always decrease. |
| `'is_monotonic_increasing'` | True if values always increase. |
| `'kurt'` | Return ”excess” kurtosis (0 is normal distribution). Values greater than 0 have more outliers than normal. |
| `'mad'` | Return the mean absolute deviation. |
| `'max'` | Return the maximum value. |
| `'mean'` | Return the mean value. |
| `'median'` | Return the median value. |
| `'min'` | Return the minimum value. |
| `'nbytes'` | Return the number of bytes of the data. |
| `'ndim'` | Return the number of dimensions (1) of the data. |
| `'nunique'` | Return the count of unique values. |
| `'quantile'` | Return the median value. Can override q to specify |
| `'sem'` | Return the standard error of the mean. |
| `'size'` | Return the number of elements in the series. |
| `'skew'` | Return the sample skewness (third moment). |
| `'std'` | Return the sample standard deviation. |
| `'sum'` | Return the sum of the values. |

Here’s a markdown table that summarizes the pandas Series methods and their descriptions:

| Method | Description |
|--------|-------------|
| `s.agg(func=None, axis=0, *args, **kwargs)` | Returns a scalar if `func` is a single aggregation function. Returns a Series if a list of aggregations is passed to `func`. |
| `s.all(axis=0, bool_only=None, skipna=True, level=None)` | Returns `True` if every value is truthy. Otherwise `False`. |
| `s.any(axis=0, bool_only=None, skipna=True, level=None)` | Returns `True` if at least one value is truthy. Otherwise `False`. |
| `s.autocorr(lag=1)` | Returns Pearson correlation between `s` and shifted `s`. |
| `s.corr(other, method='pearson')` | Returns correlation coefficient for 'pearson', 'spearman', 'kendall', or a callable. |
| `s.cov(other, min_periods=None)` | Returns covariance. |
| `s.max(axis=None, skipna=None, level=None, numeric_only=None)` | Returns maximum value. |
| `s.min(axis=None, skipna=None, level=None, numeric_only=None)` | Returns minimum value. |
| `s.mean(axis=None, skipna=None, level=None, numeric_only=None)` | Returns mean value. |
| `s.median(axis=None, skipna=None, level=None, numeric_only=None)` | Returns median value. |
| `s.prod(axis=None, skipna=None, level=None, numeric_only=None, min_count=0)` | Returns product of `s` values. |
| `s.quantile(q=0.5, interpolation='linear')` | Returns the 50% quantile by default. Returns Series if `q` is a list. |
| `s.sem(axis=None, skipna=None, level=None, ddof=1, numeric_only=None)` | Returns unbiased standard error of mean. |
| `s.std(axis=None, skipna=None, level=None, ddof=1, numeric_only=None)` | Returns sample standard deviation. |
| `s.var(axis=None, skipna=None, level=None, ddof=1, numeric_only=None)` | Returns unbiased variance. |
| `s.skew(axis=None, skipna=None, level=None, numeric_only=None)` | Returns unbiased skew. |
| `s.kurtosis(axis=None, skipna=None, level=None, numeric_only=None)` | Returns unbiased kurtosis. |
| `s.nunique(dropna=True)` | Returns the number of unique values. |
| `s.count(level=None)` | Returns the number of non-null values. |
| `s.size` | Returns the number of elements in the Series. |
| `s.is_unique` | Returns `True` if all values are unique. |
| `s.is_monotonic` | Returns `True` if the values are monotonically increasing or decreasing. |
| `s.is_monotonic_increasing` | Returns `True` if the values are monotonically increasing. |
| `s.is_monotonic_decreasing` | Returns `True` if the values are monotonically decreasing. |

This table provides a quick reference to various pandas Series methods and their functionality.

### 7.4
Summary
In this chapter, we discussed ways to summarize data in a series. As you begin to analyze data,
you will ﬁnd many of these keep popping up. One thing to keep in mind is that they also apply to
a DataFrame.

7.5
Exercises
With a dataset of your choice:
1. Find the count of non-missing values of a series.
2. Find the number of entries of a series.
3. Find the number of unique entries of a series.
4. Find the mean value of a series.
5. Find the maximum value of a series.
6. Use the .agg method to ﬁnd all of the above.

## Chapter 8
Conversion Methods

In [7]:
city_mpg . convert_dtypes ()
city_mpg . astype ( 'Int16')
city_mpg . astype ( 'str')

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: object

In [14]:
import numpy as np

print(f"{np . iinfo ( 'int64')}")
print(f"{np . iinfo ( 'uint8')}")
print(f"{np . finfo ( 'float16')}")
print(f"{np . finfo ( 'float64')}")

Machine parameters for int64
---------------------------------------------------------------
min = -9223372036854775808
max = 9223372036854775807
---------------------------------------------------------------

Machine parameters for uint8
---------------------------------------------------------------
min = 0
max = 255
---------------------------------------------------------------

Machine parameters for float16
---------------------------------------------------------------
precision =   3   resolution = 1.00040e-03
machep =    -10   eps =        9.76562e-04
negep =     -11   epsneg =     4.88281e-04
minexp =    -14   tiny =       6.10352e-05
maxexp =     16   max =        6.55040e+04
nexp =        5   min =        -max
smallest_normal = 6.10352e-05   smallest_subnormal = 5.96046e-08
---------------------------------------------------------------

Machine parameters for float64
---------------------------------------------------------------
precision =  15   resolution = 1.0000000000000001e-15
machep =    -52   eps =        2.2204460492503131e-16
negep =     -53   epsneg =     1.1102230246251565e-16
minexp =  -1022   tiny =       2.2250738585072014e-308
maxexp =   1024   max =        1.7976931348623157e+308
nexp =       11   min =        -max
smallest_normal = 2.2250738585072014e-308   smallest_subnormal = 4.9406564584124654e-324
---------------------------------------------------------------

### 8.2 Memory Usage

In [15]:
print(f"{ city_mpg . nbytes}")
city_mpg . astype ( 'Int16'). nbytes

329152

123432

In [4]:
make = df.make
make.nbytes
make.memory_usage ()
make.memory_usage ( deep = True )

2606399

### String and Category Types

In [24]:
city_mpg.astype(str)
city_mpg.astype('category')

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: category
Categories (105, int64): [6, 7, 8, 9, ..., 137, 138, 140, 150]

8.4 Ordered Categories

In [26]:
values = pd.Series(sorted(set(city_mpg)))
values

0        6
1        7
2        8
3        9
4       10
      ...
100    136
101    137
102    138
103    140
104    150
Length: 105, dtype: int64

String or Type
Description
str 'str'
Convert type to Python string
'string'
Convert type to pandas string (supports
pd.NA)
int 'int' 'int64'
Convert type to NumPy int64
Convert type to 32 signed or unsigned
'int32' 'uint32'
NumPy integer (can also use 16 and 8).
'Int64'
Convert type to pandas Int64 (supports
pd.NA). Might complain when you
convert ﬂoats or strings.
float 'float' 'float64'
Convert type to NumPy ﬂoat64 (can also
support 32 or 16).
'category'
Convert type to categorical (supports
pd.NA). Can also use instance of
CategoricalDtype.
dates
Don’t use this for date conversion, use
pd.to_datetime.
Table 8.1: Type and strings for column conversion

# 8.5 Converting to Other Types

Here's a table with descriptions for the mentioned methods, formatted for clarity:

| **Method**                                                                                         | **Description**                                                                                         |
|----------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------------------------------|
| `s.convert_dtypes(infer_objects=True, convert_string=True, convert_integer=True, convert_boolean=True, convert_floating=True)` | Convert types to appropriate pandas types (that support NA). Doesn’t try to reduce size of integer or float types. |
| `s.astype(dtype, copy=True, errors='raise')`                                                       | Cast series into a particular type. If `errors='ignore'`, then return the original series on error.     |
| `pd.to_datetime(arg, errors='raise', dayfirst=False, yearfirst=False, utc=None, format=None, exact=True, unit=None, infer_datetime_format=False, origin='unix', cache=True)` | Convert arg (a series) into datetime. Use format to specify strftime string.                             |
| `s.to_numpy(dtype=None, copy=False, na_value=object, **kwargs)`                                     | Convert the series to a NumPy array.                                                                     |
| `s.values`                                                                                         | Convert the series to a NumPy array.                                                                     |
| `s.to_frame(name=None)`                                                                            | Return a DataFrame representation of the series.                                                         |
| `pd.CategoricalDtype(categories=None, ordered=False)`                                              | Create a type for categorical data.                                                                      |

This table describes various pandas methods for data type conversion, casting, and transformation of Series objects.

8.6
Summary
Having the correct types is very convenient. Not only does it save memory, but it also enables
operations that are otherwise tedious. Whenever I teach students the fundamentals of data
analysis, I make sure that they go through each column and determine what the correct type for
that column is.

8.7 Exercises
With a dataset of your choice:
1. Convert a numeric column to a smaller type.
2. Calculate the memory savings by converting to smaller numeric types.
3. Convert a string column into a categorical type.
4. Calculate the memory savings by converting to a categorical type.

### Chapter 9
Manipulation Methods

9.1 .apply and .where

In [6]:

print(f"{make.shape}")
print(f"{ make.value_counts ()}")
print(f"{make . value_counts ()[:5]}")

(41144,)
make
Chevrolet                      4003
Ford                           3371
Dodge                          2583
GMC                            2494
Toyota                         2071
                               ...
Volga Associated Automobile       1
Panos                             1
Mahindra                          1
Excalibur Autos                   1
London Coach Co Inc               1
Name: count, Length: 136, dtype: int64
make
Chevrolet    4003
Ford         3371
Dodge        2583
GMC          2494
Toyota       2071
Name: count, dtype: int64

In [7]:
top5 = make . value_counts (). index [:5]
def generalize_top5 ( val ):

    if val in top5 :
        return val

    return ' Other '

make . apply ( generalize_top5 )

0         Other
1         Other
2          Dodge
3          Dodge
4         Other
          ...
41139     Other
41140     Other
41141     Other
41142     Other
41143     Other
Name: make, Length: 41144, dtype: object

In [8]:
make . where ( make . isin ( top5 ), other =' Other ')

0         Other
1         Other
2          Dodge
3          Dodge
4         Other
          ...
41139     Other
41140     Other
41141     Other
41142     Other
41143     Other
Name: make, Length: 41144, dtype: object

### 9.2 If Else with Pandas

In [12]:

vc = make . value_counts ()
top5 = vc . index [:5]
top10 = vc . index [:10]
def generalize ( val ):
    if val in top5 :
        return val
    elif val in top10 :
        return ' Top10 '
    else :
        return ' Other '
make . apply ( generalize )


make.where(make.isin(top5),'Top10').where(make.isin(top10),'Other')

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Name: make, Length: 41144, dtype: object

9.3
Missing Data

In [22]:
cyl = df . cylinders
print(f"{cyl}")
( cyl.isna().sort_values())[::-1]

0         4.0
1        12.0
2         4.0
3         8.0
4         4.0
         ...
41139     4.0
41140     4.0
41141     4.0
41142     4.0
41143     4.0
Name: cylinders, Length: 41144, dtype: float64

28557     True
8144      True
31252     True
31396     True
31395     True
         ...
27352    False
27351    False
27350    False
27349    False
0        False
Name: cylinders, Length: 41144, dtype: bool

In [21]:
missing = cyl . isna ().value_counts()
print(f"{missing}")
missing = cyl . isna ()
make . loc [ missing ]

cylinders
False    40938
True       206
Name: count, dtype: int64

7138     Nissan
7139     Toyota
8143     Toyota
8144       Ford
8146       Ford
          ...
34563     Tesla
34564     Tesla
34565     Tesla
34566     Tesla
34567     Tesla
Name: make, Length: 206, dtype: object

# Note
We often use the same term to represent different items. In pandas, both a series and a data
frame have an index, the value that names each row. In addition, we use an index operation,
performed with square brackets ([ and ]), to select values from a series or a data frame.
I will try to use the noun ”index” to discuss the member of the series or data frame. If I use
”index” as a verb, or say ”index operation”, it is referring to selecting out subsets of data. Below,
I am indexing off of the .loc attribute. I could also say that I’m doing an indexing operation:
make . loc [ missing ]

## 9.4 Filling In Missing Data

In [23]:
cyl [ cyl . isna ()]

7138    NaN
7139    NaN
8143    NaN
8144    NaN
8146    NaN
         ..
34563   NaN
34564   NaN
34565   NaN
34566   NaN
34567   NaN
Name: cylinders, Length: 206, dtype: float64

In [26]:
cyl . fillna (0). loc [7136:7141]

4.0

### Note
Almost every operation that I show in this book does not mutate data. In other words, the
above operation returns a new series with the missing values replaced by zero. If I want to
update my cyl variable, I would need to assign it to this new result. Usually, I end up chaining
each command and build up a sequence of operations.

### 9.5 Interpolating Data

In [28]:
temp = pd . Series ([41,32 , 40 , None , 42 , 39 , 32])
temp . interpolate ()

0    41.0
1    32.0
2    40.0
3    41.0
4    42.0
5    39.0
6    32.0
dtype: float64

### 9.6 Clipping Data

In [29]:
city_mpg . loc [:446]

0      19
1       9
2      23
3      10
4      17
       ..
442    15
443    15
444    15
445    15
446    31
Name: city08, Length: 447, dtype: int64

In [30]:
city_mpg. loc [:446]. clip ( lower = city_mpg . quantile (.05) ,upper = city_mpg . quantile (.95))

0      19
1      11
2      23
3      11
4      17
       ..
442    15
443    15
444    15
445    15
446    27
Name: city08, Length: 447, dtype: int64

### 9.7
Sorting Values

In [32]:
( city_mpg . sort_values () + highway_mpg ) /2

0        44
1        23
2        56
3        22
4        40
         ..
41139    45
41140    48
41141    42
41142    42
41143    37
Length: 41144, dtype: int64

### 9.8 Sorting the Index
If you want to sort the index of a series, you can use the .sort_index method. Below we unsort the
index by sorting the values, then essentially revert that:
```city_mpg . sort_values (). sort_index ()```

#### 9.9 Dropping Duplicates

In [33]:
city_mpg . drop_duplicates ()

0         19
1          9
2         23
3         10
4         17
        ...
34364    127
34409    114
34564    140
34565    115
34566    104
Name: city08, Length: 105, dtype: int64

#### 9.10 Ranking Data
The .rank method will return a series that keeps the original index but uses the ranks of values from
the original series. You can control how ranking occurs with the method parameter. By default, if
two values are the same, their rank will be the average of the positions they take. Y

In [34]:
city_mpg . rank ()
city_mpg . rank ( method = ' min ')
city_mpg . rank ( method = ' dense ')

0        27060.5
1          235.5
2        35830.0
3          607.5
4        19484.0
          ...
41139    27060.5
41140    29719.5
41141    23528.0
41142    23528.0
41143    15479.0
Name: city08, Length: 41144, dtype: float64

#### 9.11 Replacing Data
The .replace method allows you to map values to new values. There are many ways to specify
how to replace the values. You can specify a whole string to replace a string or use a dictionary to
map old values to new values. This example uses the former:

In [ ]:
make . replace (' Subaru ', ' スバル ')
make . replace (r '( Fer ) ra (r .*) ' ,value =r '\2 - other -\1 ' , regex = True )

#### 9.12 Binning Data
You can bin data as well. Using the cut function, you can create bins of equal width:

In [ ]:
pd . cut ( city_mpg , 10)
pd . cut ( city_mpg , [0 , 10 , 20 , 40 , 70 , 150])
pd . qcut ( city_mpg , 10)
pd . qcut ( city_mpg , 10 , labels = list ( range (1 ,11)))

Here is a table summarizing various pandas Series methods, their parameters, and their descriptions:

| Method | Parameters | Description |
| --- | --- | --- |
| `s.apply` | `func, convert_dtype=True, args=(), **kwds` | Pass a NumPy function that works on the series, or a Python function that works on a single value. `args` and `kwds` are arguments for `func`. Returns a series or DataFrame if `func` returns a series. |
| `s.where` | `cond, other=nan, inplace=False, axis=None, level=None, errors='raise', try_cast=False` | Pass a boolean series/DataFrame, list, or callable as `cond`. If the value is `True`, keep it; otherwise, use `other` value. If it is a function, it takes a series and should return a boolean sequence. |
| `np.select` | `condlist, choicelist, default=0` | Pass a list of boolean arrays for `condlist`. If the value is true, use the corresponding value from `choicelist`. If multiple conditions are `True`, only use the first. Returns a NumPy array. |
| `s.fillna` | `value=None, method=None, axis=None, inplace=False, limit=None, downcast=None` | Pass a scalar, dict, series, or DataFrame for `value`. If it is a scalar, use that value; otherwise, use the index from the old value to the new value. |
| `s.interpolate` | `method='linear', axis=0, limit=None, inplace=False, limit_direction=None, limit_area=None, downcast=None, **kwargs` | Perform interpolation with missing values. `method` may be 'linear', 'time', among others. |
| `s.clip` | `lower=None, upper=None, axis=None, inplace=False, *args, **kwargs` | Return a new series with values clipped to `lower` and `upper`. |
| `s.sort_values` | `axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last', ignore_index=False, key=None` | Return a series with values sorted. The `kind` option may be 'quicksort', 'mergesort' (stable), or 'heapsort'. `na_position` indicates the location of NaNs and may be 'first' or 'last'. |
| `s.sort_index` | `axis=0, level=None, ascending=True, inplace=False, kind='quicksort', na_position='last', sort_remaining=True, ignore_index=False, key=None` | Return a series with the index sorted. The `kind` option may be 'quicksort', 'mergesort' (stable), or 'heapsort'. `na_position` indicates the location of NaNs and may be 'first' or 'last'. |
| `s.drop_duplicates` | `keep='first', inplace=False` | Drop duplicates. `keep` may be 'first', 'last', or `False`. (If `False`, it removes all values that were duplicated). |
| `s.rank` | `axis=0, method='average', numeric_only=None, na_option='keep', ascending=True, pct=False` | Return a series with numerical ranks. `method` allows you to specify tie handling: 'average', 'min', 'max', 'first' (uses the order they appear in series), 'dense' (like 'min', but rank only increases by one after tie). `na_option` allows you to specify NaN handling: 'keep' (stay at NaN), 'top' (move to smallest), 'bottom' (move to largest). |
| `s.replace` | `to_replace=None, value=None, inplace=False, limit=None, regex=False, method='pad'` | Return a series with new values. `to_replace` can be many things. If it is a string, number, or regular expression, you can replace it with a scalar value. It can also be a list of those things, which requires `values` to be a list of the same size. Finally, it can be a dictionary mapping old values to new values. |
| `pd.cut` | `x, bins, right=True, labels=None, retbins=False, precision=3, include_lowest=False, duplicates='raise', ordered=True` | Bin values from `x` (a series). If `bins` is an integer, use equal-width bins. If `bins` is a list of numbers (defining minimum and maximum positions), use those for the edges. `right` defines whether the right edge is open or closed. `labels` allows you to specify the bin names. Out-of-bounds values will be missing. |
| `pd.qcut` | `x, q, labels=None, retbins=False, precision=3, duplicates='raise'` | Bin values from `x` (a series) into `q` equal-sized bins (10 for deciles, 4 for quartiles). Alternatively, you can pass in a list of quantile edges. Out-of-bounds values will be missing. |

This table summarizes the parameters and descriptions for these pandas and NumPy methods.

#### 9.13 Summary
In this chapter, we explored many methods and functions that are useful for changing the data. We
saw how to use function application with the .apply method, but try to avoid that and use np.select
instead to get better performance. We discussed various ways to deal with missing data. We saw
that we can sort both the values and the index. We can replace data and we can bin data. These
operations will come in useful as you begin to analyze data.

#### 9.14 Exercises
With a dataset of your choice:
1. Create a series from a numeric column that has the value of 'high' if it is equal to or above
the mean and 'low' if it is below the mean using .apply.
2. Create a series from a numeric column that has the value of 'high' if it is equal to or above
the mean and 'low' if it is below the mean using np.select.
3. Time the differences between the previous two solutions to see which is faster.
4. Replace the missing values of a numeric series with the median value.
5. Clip the values of a numeric series to between to 10th and 90th percentiles.
619. Manipulation Methods
6. Using a categorical column, replace any value that is not in the top 5 most frequent values
with 'Other'.
7. Using a categorical column, replace any value that is not in the top 10 most frequent values
with 'Other'.
8. Make a function that takes a categorical series and a number (n) and returns a replace series
that replaces any value that is not in the top n most frequent values with 'Other'.
9. Using a numeric column, bin it into 10 groups that have the same width.
10. Using a numeric column, bin it into 10 groups that have equal sized bins.

## Chapter 10
Indexing Operations

In [36]:
city_mpg . rename ( make . to_dict ())

Alfa Romeo    19
Ferrari        9
Dodge         23
Dodge         10
Subaru        17
              ..
Subaru        19
Subaru        20
Subaru        18
Subaru        18
Subaru        16
Name: city08, Length: 41144, dtype: int64